* text eol=lf
*.neon linguist-language=YAML

/.cursor        export-ignore
/.docker        export-ignore
/.github        export-ignore
/.phive         export-ignore
/examples       export-ignore
/scripts        export-ignore
/tools          export-ignore
/tests          export-ignore
/var            export-ignore
/vendor             export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore                 export-ignore
/composer.lock              export-ignore
/compose.yaml               export-ignore
/docker-entrypoint.sh       export-ignore
