services:
  php-cli:
    build:
      context: ./
      dockerfile: .docker/php/Dockerfile
    environment:
      GITHUB_PERSONAL_ACCESS_TOKEN: ${GITHUB_PERSONAL_ACCESS_TOKEN:-}
      GITLAB_HOST: ${GITLAB_HOST:-https://gitlab.com}
      GITLAB_PERSONAL_ACCESS_TOKEN: ${GITLAB_PERSONAL_ACCESS_TOKEN:-}
      GITLAB_PROJECT_IDENTIFIER: ${GITLAB_PROJECT_IDENTIFIER:-}
      JIRA_HOST: ${JIRA_HOST:-}
      JIRA_PERSONAL_ACCESS_TOKEN: ${JIRA_PERSONAL_ACCESS_TOKEN:-}
      PHP_IDE_CONFIG: serverName=todo-registrar.local
      XDEBUG_CONFIG: "client_host=host.docker.internal"
      XDEBUG_ENABLE: 1
      YANDEX_TRACKER_CLOUD_ORG_ID: ${YANDEX_TRACKER_CLOUD_ORG_ID:-}
      YANDEX_TRACKER_ORG_ID: ${YANDEX_TRACKER_ORG_ID:-}
      YANDEX_TRACKER_TOKEN: ${YANDEX_TRACKER_TOKEN:-}
    expose:
      - '9003'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    stdin_open: true
    tty: true
    volumes:
      - .:/app

  mcp_serena:
    # documentation: https://github.com/oraios/serena/blob/main/DOCKER.md
    image: ghcr.io/oraios/serena:latest
    # Add the context for the IDE assistant option:
    command:
      - "uv run --directory . serena-mcp-server --transport sse --port 9121 --host 0.0.0.0 --context claude-code"
    ports:
      - "${SERENA_PORT:-9121}:9121"
      # dashboard: http://localhost:24282/dashboard
      - "${SERENA_DASHBOARD_PORT:-24282}:24282"
    # To work with projects, you must mount them as volumes:
    volumes:
      - ./.mcp/serena/config:/workspaces/serena/config
      - ./:/workspace/projects/todo-registrar
