services:
  _defaults:
    autowire: true
    autoconfigure: true

  _instanceof:
    Aeliot\TodoRegistrar\Service\ContextPath\ContextPathBuilderInterface:
      tags: ['aeliot.todo_registrar.context_path_builder']
    Aeliot\TodoRegistrarContracts\RegistrarFactoryInterface:
      tags: ['aeliot.todo_registrar.registrar_factory']

  Aeliot\TodoRegistrar\:
    resource: '../src/*'
    exclude:
      - '../src/Dto'
      - '../src/Enum'
      - '../src/Exception'
      - '../src/Console/OutputAdapter.php'
      - '../src/Service/Comment/Extractor.php'
      - '../src/Service/File/Finder.php'
      - '../src/Service/HeapRunner.php'
      - '../src/Service/InlineConfig/JsonLikeLexer.php'
      - '../src/Service/Registrar/GitHub/'
      - '../src/Service/Registrar/GitLab/'
      - '../src/Service/Registrar/JIRA/'
      - '../src/Service/Registrar/Redmine/'
      - '../src/Service/Registrar/YandexTracker/'
      - '../src/Service/Tag/Detector.php'
      - '../src/Service/TodoBuilder.php'
      - '../src/Config.php'

  # Commands
  Aeliot\TodoRegistrar\Console\Command\RegisterCommand:
    public: true
    tags: [ 'console.command' ]

  # Services for testing
  Aeliot\TodoRegistrar\Service\Registrar\RegistrarFactoryRegistry:
    public: true

  Aeliot\TodoRegistrar\Service\Registrar\GitHub\GitHubRegistrarFactory: ~
  Aeliot\TodoRegistrar\Service\Registrar\GitLab\GitlabRegistrarFactory: ~
  Aeliot\TodoRegistrar\Service\Registrar\JIRA\JiraRegistrarFactory: ~
  Aeliot\TodoRegistrar\Service\Registrar\Redmine\RedmineRegistrarFactory: ~
  Aeliot\TodoRegistrar\Service\Registrar\YandexTracker\YandexTrackerRegistrarFactory: ~

  Aeliot\EnvResolver\Service\StringProcessor: ~

  Symfony\Component\Validator\Validator\ValidatorInterface:
    factory: ['Aeliot\TodoRegistrar\Service\ValidatorFactory', 'create']
