parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Github\\\\Api\\\\AbstractApi\\:\\:labels\\(\\)\\.$#"
			count: 1
			path: ../../src/Service/Registrar/Github/ApiClientFactory.php

		-
			message: "#^Parameter \\#1 \\$issueAPI of class Aeliot\\\\TodoRegistrar\\\\Service\\\\Registrar\\\\Github\\\\IssueApiClient constructor expects Github\\\\Api\\\\Issue, Github\\\\Api\\\\AbstractApi given\\.$#"
			count: 1
			path: ../../src/Service/Registrar/Github/ApiClientFactory.php
