name: TODO Registrar

on:
  push:
    branches:
      - 'main'
      - 'todo-action'

# See https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  todo-registrar:
    name: Register TODO
    runs-on: ubuntu-latest

    # Define the permissions for the action
    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Register TODOs
        uses: Aeliot-Tm/todo-registrar-action@9a1d41029b8e45f0a494f7b3402757ef46a547de
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_TODO_REGISTRAR_ACCESS_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
        with:
          config_path: .scripts/todo-registrar/config.php
          env_vars: |
            GH_PERSONAL_ACCESS_TOKEN
            GITHUB_REPOSITORY
            GITHUB_REPOSITORY_OWNER
          new_branch_name: 'todo-registrar'
